<mat-card>
  <form class="example-form">
    <div class="form-row">
      <!-- Name field -->
      <mat-form-field class="example-input">
        <mat-label>Add item</mat-label>
        <input
          type="text"
          matInput
          placeholder="Item name"
          [(ngModel)]="itemName"
          (keydown.enter)="addItem()"
          name="itemName"
        />
      </mat-form-field>

      <!-- Quantity field -->
      <mat-form-field class="example-input quantity-input">
        <mat-label>Quantity</mat-label>
        <input
          type="number"
          matInput
          placeholder="Quantity"
          [(ngModel)]="itemQuantity"
          (keydown.enter)="addItem()"
          name="itemQuantity"
        />
      </mat-form-field>

      <!-- Botton 'Add' -->
      <mat-icon matSuffix (click)="addItem()">add</mat-icon>
    </div>
  </form>
</mat-card>

<mat-divider align="center"></mat-divider>

<mat-card class="message-box">
  <mat-card-subtitle *ngIf="data.length == 0">
    No data to display!
  </mat-card-subtitle>
  <mat-card-subtitle *ngIf="!message && data.length > 0">
    Purchase all items! ({{ itemPurchasedCount }}/{{
      data.length
    }})</mat-card-subtitle
  >
  <mat-card-subtitle *ngIf="message && data.length > 0"
    >{{ message }} ({{ itemPurchasedCount }}/{{
      data.length
    }})</mat-card-subtitle
  >
</mat-card>

<mat-card *ngFor="let item of data; index as index; count as count">
  <div class="header">
    <mat-checkbox
      [checked]="item.isPurchased"
      (click)="purchaseItem(index)"
    ></mat-checkbox>
    <div class="main">
      <mat-card-title>
        <input
          type="text"
          matInput
          placeholder="Item name"
          [(ngModel)]="data[index].name"
          (keydown.enter)="addItem()"
          name="itemName"
          class="edit-input"
          [ngClass]="item.isPurchased ? 'purchased' : null"
        />
      </mat-card-title>
      <mat-card-subtitle>Quantity: 
        <input
          type="number"
          matInput
          placeholder="Quantity"
          [(ngModel)]="data[index].quantity"
          (keydown.enter)="addItem()"
          name="itemQuantity"
          class="edit-input-quantity"
        />
      </mat-card-subtitle>
    </div>
    <div class="buttons">
      <button
        mat-fab
        color="warn"
        aria-label="Delete icon"
        (click)="deleteItem(index)"
      >
        <mat-icon>delete</mat-icon>
      </button>
    </div>
  </div>
</mat-card>
